
* {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  font-family: amalfi Coast;
  
  background-size: cover;
}

.authorization {
  border: 1.5px solid black;
  border-radius: 50px;
  box-shadow: 3px 3px 3px rgb(41, 41, 41, 0.70) ;
  margin: 200px 250px 200px 250px;
  padding: 50px;
  background-color: rgb(231, 226, 223);
  
}

.font {
  font-family: mirande;
  font-size: 18px;
  padding: 12px;

}

body {
  background-color: rgb(230, 198, 188, 0.80);
}

input {
  margin: 8px;
  font-family: mirande;
  border-radius: 5px;
  border: 1.5px solid black;
  
}
.btn {
  background-color: white;
}

ul {
  list-style: none;
  
}

li {
  font-family: mirande;
  font-size: 20px;
  padding: 12px;
}