
* {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  font-family: amalfi Coast;
  
  background-size: cover;
}

.authorization {
  border: 1.5px solid black;
  border-radius: 50px;
  box-shadow: 3px 3px 3px rgb(41, 41, 41, 0.70) ;
  margin: 200px 250px 200px 250px;
  padding: 50px;
  background-color: rgb(231, 226, 223);
  
}

.font {
  font-family: mirande;
  font-size: 18px;
  padding: 12px;

}

body {
  background-color: rgb(197, 161, 140, 0.70);
}

input {
  margin: 8px;
  font-family: mirande;
  border-radius: 15px;
  border: 1.5px solid black;
}
input:focus {
  outline: 1px solid transparent;
  border: 1.5px solid black;
}
.btn {
  /* background-color: transparent; */
  background-color: rgb(172, 170, 169, 0.60);
  
}
.btn:hover {
  box-shadow: 1px 1px 1px rgb(41, 41, 41, 0.60);
  cursor: pointer;

}

ul {
  list-style: none;
  
}

li {
  font-family: mirande;
  font-size: 20px;
  padding: 12px;
  font-weight: bolder;
}